# Slicing

En ocasiones, nos interesa acceder al subconjunto de una secuencia de caracteres (`str`). En Python, esto se conoce como `slicing`

La sintáxis para acceder al $i$-ésimo elemento de un string es el siguiente: 


```python

"string"[i]

```

**Nota**: Python cuenta desde cero, por lo tanto, el primer índice de `str`es `0`

En Python, el índice `numérico estándar` empieza en **`cero`**

In [ ]:
palabra="palabra"

In [ ]:
dir(palabra)

In [ ]:
len(palabra)

In [ ]:
palabra[0] #para acceder al primer elemento ponemos un 0

In [ ]:
palabra[6] #para acceder al último elemento ponemos un 6

In [ ]:
palabra[-1] #también pueden acceder al último elemento del string con un -1

In [ ]:
palabra[7]

Python puede contar de izquierda a derecha (empezando en `0`) y de derecha a izquierda (empezando en `-1`). 


```c
P    Y    T    H    O    N 
0    1    2    3    4    5
-6  -5   -4   -3   -2   -1
```

In [ ]:
"Python"[0]

In [ ]:
"Python"[4]

In [ ]:
"Python"[5]

In [ ]:
"Python"[-1]

In [ ]:
"Python"[-2]

In [ ]:
"Python"[-6]

In [ ]:
"Python"[6]

In [ ]:
"Python"[-7]

In [ ]:
len("Python")-1

In [ ]:
"Python"[len("Python")-1] #si quisiéramos el último caracter y no sabes cuántos son

In [ ]:
"Python"[-1] #último caracter. Aquí ya no te importa, sino nada más quiero el último

In [ ]:
"Python"[len("Python")]


```python

"slicing"[ini:fin]

ini: donde inicia
fin: done acaba (no es incluyente)

```

In [ ]:
"Python"[2:3]

In [ ]:
"Python"[2:4]

In [ ]:
"Python"[-1:]

```c
P    Y    T    H    O    N 
0    1    2    3    4    5
-6  -5   -4   -3   -2   -1
```

In [ ]:
"Python"[-3:-1]

In [ ]:
"Python"[-3:]

In [ ]:
"Python"[5:8]

In [ ]:
"Python"[6:8]

In [ ]:
"Python"[:]

```python

"slicing"[ini:fin:k]

ini: donde inicia
fin: done acaba (no es incluyente)
k: avance/saltos


```

```c
P    Y    T    H    O    N 
0    1    2    3    4    5
-6  -5   -4   -3   -2   -1
```

In [ ]:
"Python"[5:6:1]

In [ ]:
"Python"[1:6:2]

In [ ]:
"Python"[0:5:2]

In [ ]:
"Python"[-6:-1:2]

In [ ]:
"Python"[1:5:-1]

In [ ]:
"Python"[-1:-6:-1] #si todos son negativo se va en reversa

In [ ]:
"Python"[-1:-7:-1] #si todos son negativo se va en reversa

Los elementos de una lista también están **indexados** y por tanto podemos acceder a ellos de la misma manera:

In [ ]:
actores=["Luis G. Méndez", "Ana C. Talancón", "Gael García", "Diego"]
actores

In [ ]:
actores[0]

In [ ]:
actores[3]

In [ ]:
#Para extraer más de un elemento a la vez
actores[1:4]

In [ ]:
actores[2:4]

In [ ]:
actores

```c
P    Y    T    H    O    N 
0    1    2    3    4    5
-6  -5   -4   -3   -2   -1
```

In [ ]:
"Python"[1:-2]

In [ ]:
#otros métodos
enteros=[1,2,3,4,5,6]

In [ ]:
type(enteros)

In [ ]:
sum(enteros)

In [ ]:
sorted(enteros,reverse=True)

In [ ]:
strings=["a","b"]
sum(strings)

In [ ]:
"a"+"b"

In [ ]:
matematicos=["Gauss","Fermat","Fourier","Euler"]
fisicos=["Newton","Einstein","Maxwell","Heisenberg"]

In [ ]:
matematicos + fisicos

### Ejercicio 
Escribir una función que calcule la suma de los primeros "n" enteros consecutivos. 
Es decir, si n=100, entonces que calcule la suma de 1+2+3+4+5+6+ ... + 98 + 99 + 100

    1    2     3   4   ...  97  98  99  100
    100  99   98  97   ...  4    3   2   1
   
    ------------------------------------ 
    101  101  101 101 .....  101 101 101 101

100(101)=10,100

n ( n+1) sumando dos veces la secuencia

n(n+1)/2 (divido entre dos). 
10,100 / 2 = 5,050

In [ ]:
def suma_primeros_consecutivos(n):
    res=n*(n+1)/2
    return res

In [ ]:
suma_primeros_consecutivos(100)

In [ ]:
suma_primeros_consecutivos(1000)

In [ ]:
## Otro ejemplo. 
#Una ecuación de caida libre t=sqrt(2h/g)
# t= tiempo que tarda en caer un objeto a distancia h
# g es gravedad
# h es altura
#(1/2)g*t^2=h

#Funcion para calcular la altura a la que se deja caer un objeto si tarda t segundos: 
def calcular_altura(t):
    h=0.5*9.81*t**2
    return h

In [ ]:
calcular_altura(4)

In [ ]:
#otras funciones 
#string a list
"ejemplo de string".split() #método que de un String que lo convierte a una lista

In [ ]:
#proceso inverso: list---string
lista=["ejemplo","de","lista"]
" ".join(lista) #convierte una lista en un string

# Tuplas 
Una tuple (tupla) es una colección de valores INMUTABLES. 
* Se puede definir mediantes listas separadasa por comas
* están indexados por enteros

In [ ]:
t=(1,2,3,4,5)
t

In [ ]:
dir(t)

In [ ]:
type(t)

In [ ]:
t=1,2,3,4,5
t

In [ ]:
type(t)

In [ ]:
t[1]=3 #INMUTABLES

In [ ]:
l=[1,2,3,4] #lista
l

In [ ]:
tuple(l) #función que lo convierte en Tupla

In [ ]:
t_2=('a','b',1,2)

In [ ]:
t_2

In [ ]:
t_2[2]

In [ ]:
t='a','b','c','d'
t[2]

In [ ]:
#pasar de tupla a lista
mi_tupla=(1,2,3)
mi_tupla

In [ ]:
list(mi_tupla)

In [ ]:
#En Python las tuplas son inmutables, así que no podmeos modificar una ya existetne. Pero sí spidemos
#crear una nueva tupla a partir de otra, agregándole elementos

In [ ]:
t1=(1,2,3)
t2=t1+(4,)
print(t2)

In [ ]:
#El elemento extra siempre debe estar escrito como (elemento,) para que python
#lo entienda como tupla, no sólo como parentesis. 
#Puedes agregar más de un elemento

In [ ]:
t3=t1+(4,5,6)
print(t3)

# Conjuntos

## Un conjunto (set) es una colección no ordenada de valores únicos. 

* A|B (Unión): Elementos A o en B
* A^B (intersección): Elementos en A y B
* A-B (Diferencia): elementos en A no presenten en B
* Diferencia Simétrica: Elementos en cualquiera de los conjuntos A o B, más no en los dos.
* A <= B (Subconjunto): si todos los elementos en A se encuentran en B

In [ ]:
vocales={'a','e','i','o','u'}
p={'c','a','r','o'}

In [ ]:
type(vocales)

In [ ]:
p & vocales #intersección

In [ ]:
p|vocales #unión

In [ ]:
vocales-p

In [ ]:
p-vocales

In [ ]:
#En python convertir entre sets(set), tuplas(tuple) y listas(lista) usamos constructores (función de origen). 
#De set a tupla
mi_set={1,2,3}
mi_tupla=tuple(mi_set)
mi_tupla

In [ ]:
#De set a lista
mi_set={1,2,3}
mi_lista=list(mi_set)
mi_lista

In [ ]:
#lista a set
mi_lista=[1,2,3]
mi_set=set(mi_set)
mi_set

In [ ]:
#tupla a set
mi_tupla=(1,2,3)
mi_set=set(mi_tupla)
mi_set

In [ ]:
#Los conjuntos no tienen índices como las lista o tuplas, porque son colecciones ordenadas. 
#Sin embargo si podemos acceder a sus elementos de diferentes manteras. 
#Convertir el conjunto a lista o tupla
s={10,20,30,40}
lista=list(s)
lista[0]

In [ ]:
#Recorrer con un for
s={"manzana","pera","uva"}
for fruta in s: 
    print(fruta)

In [ ]:
s

In [ ]:
#Los criterios que sigue Python, en los conjunto, usan una tabla hash para guardar los elementos
#El orden que estamos viendo al imprimir no depende de cómo lo escribimo, sino de cómo Python 
#los organizó en esa tabla dash.

In [ ]:
s

In [ ]:
#Usar pop() para extraer un elemento aleaotior
s={1,2,3,4}
x=s.pop()
x

In [ ]:
s

# Diccionarios
1. Una colección NO ORDENADA de pares: llave - valor
2. Es mutable
3. Las keys (llaves) DEBEN SER únicas, los valores NO.

In [ ]:
#Ejemplo: artículos de vestir: 
arts={
    "jeans":899,
    "playera":700,
    "shorts":499,
    "zapatos":1200

}
#la longitud de un diccionario es equivalente al número de llaves del mismo

In [ ]:
type(arts)

In [ ]:
len(arts)

In [ ]:
arts["jeans"] #'jeans" es la llave y "899" es su valor

In [ ]:
arts["blusa"] #error: porque queremos acceder a una llave que no existe.

In [ ]:
arts[1]

In [ ]:
arts

In [ ]:
#ejemplo

In [ ]:
d={1.5:3.14,2.0:6.2}
d

In [ ]:
type(d)

In [ ]:
d[1.5]

Los valores de un diccionario `dict` pueden ser de cualquier tipo. No hay restricciones pueden ser `int`, ` float`, `str`, `list`, `dict`, 
objetos persoalizados, funciones, etc.

Las llaves `keys` deben cumplir una condición: 
Deben ser `inmutables (hashable)` Esto significa que pueden ser: 
* `int`
* `float`
* `str`
* `tuple`
* `bool`

No pueden ser usados como llaves. 
* `list`
* `dict`
* `set`
* Otros objetos mutable (no hashable).

In [ ]:
arts

In [ ]:
type(arts)

In [ ]:
"bufanda" in arts #aquí me pregunto si "bufanda" está en las llaves del diccionario.

In [ ]:
"jeans" in arts

In [ ]:
700 in arts #¿Por qué sale False? Porque busca en las llaves del diccionario, no en sus valores

In [ ]:
arts

In [ ]:
#Si quiero agregar un elemento debo hacer llave <-> valor
arts['chanclas']=300
arts

In [ ]:
arts['chanclas']=500 #si intentan asignar un valor a una llave/clae que ya existe, el valor anterior se reemplaza
arts

In [ ]:
#para quitar un valor, al igual que con las listas, usamos el método pop()
arts.pop('chanclas')

In [ ]:
arts

In [ ]:
arts.keys()

In [ ]:
arts.values()

Puedo revisar también en los VALORES.

1. Usamos el `método values()`

In [ ]:
arts

In [ ]:
700 in arts.values()

In [ ]:
140 in arts.values()

In [ ]:
arts.items()

Nota. Si no me importa el orden pero sí la asociación, un diccionario es una estructura ideal.

In [ ]:
#Los valores de un diccionario pueden ser cualquier objeto, incluso una lista. 
#Y como las listas sí son mutables, puedes modificar sólo un elemento dentro de esa lista sin tener
#que reemplazar toda la lista. 

d={
"frutas":["manzana","pera"],
    "verduras":["zanahoria","apio"]

}

In [ ]:
dir(d)

In [ ]:
d

In [ ]:
d['frutas'][1]='plátano'

In [ ]:
d

In [ ]:
#Subsets de Diccionarios
d={'a':1,'b':2,'c':3,'d':4}
claves=['a','c']
sub={k:d[k] for k in claves}
sub

In [ ]:
#Subsets de Diccionarios
d={'a':1,'b':2,'c':3,'d':4}
claves=['a','c']
sub={carlos:d[carlos] for carlos in claves}
sub

# Pandas Series
1. Crearemos series de pandas de una lista.
2. Crearemos series de pandas de un diccionario.

In [ ]:
import pandas as pd

In [ ]:
pip install pandas

## Serie (Series): Arreglo etiquetado de UNA dimensión. Como una columna de datos. 
* importante: consistencia; i.e. mismo tipo de datos
* Usamos el método Series() para...crear una serie
* Series() es un método

In [ ]:
paises=["Mex","EUA","Francia","UK","Portugal"] #una lista
s=pd.Series(paises)
s

In [ ]:
type(s)

In [ ]:
#Vemos en la segunda columna vemos nuestros valores. 
#dtype=object, en pandas significa principalmente un string. 
#tenemos un índice. Este pude ser de cualquier tipo. No sólo numérico. 
#Por default, nos da un índice que empieza en cero (el índice numérico estándar)

In [ ]:
s.index

In [ ]:
dic={'película':"RF9",'genero':'Acción','año':2021}
s1=pd.Series(dic)
s1

In [ ]:
type(s1)

In [ ]:
#las llaes del diccionario conforman el índice de nuestra serie.

In [ ]:
s1.index

In [ ]:
pares=[2,4,6,8,10]
p=pd.Series(pares)
p

In [ ]:
l_2=[True,True,False,True]
b=pd.Series(l_2)
b

# Métodos y Atributos de Series

* En una serie los valores del ínidce NO necesitan ser únicos. 
* Atributos: Nos dan información del objeto, no la modifican.

In [ ]:
ciudades=["CDMX","GDL","Milan","Londres"]
cds=pd.Series(ciudades)
cds

In [ ]:
dir(ciudades)

In [ ]:
type(cds)

In [ ]:
cds.values #los atributos no requieren paréntesis

In [ ]:
cds.index

In [ ]:
saldos=[-35,20.9,40,550]
s=pd.Series(saldos)
s

In [ ]:
#método suma
s.sum()

In [ ]:
type(s.sum())

In [ ]:
s.abs()

In [ ]:
s.sum #referie al objeto método, sin llamarlo, estamos apuntando a la funcion sin ejecutral, es una referencia l metodo, se llama con los 
#los paréntesis.

In [ ]:
#Series no son exactamente una matriz ni un un dataframe, pero están relacionados con ambos. 
#Series: Es un arreglo unidimensional (similar a un vector) sólo que valores y un únice. 
#Relación con Matriz: Internamente, la Serie guarda sus datos en un numpy.ndarry, por eso se comparta parecido a una mtriz/array de

In [ ]:
s.mean()

In [ ]:
s

In [ ]:
s.std()

In [ ]:
s.size

In [ ]:
s.shape

In [ ]:
dir(s) #la función dir() sirva para ver todos los atributos y métodos asociados a un objeto
#incluyendo los que vienen por defecto en Python)

In [ ]:
alimento=["pescado","res","pavo"]
dias=["lu","ma","mie"]
pd.Series(alimento,dias)

In [ ]:
alimento=["pescado","res","pavo","pollo"]
dias=["lu","ma","mie"]
pd.Series(alimento,dias)

In [ ]:
alimento=["pescado","res","pavo"]
dias=["lu","ma","mie"]

pd.Series(index=dias,data=alimento)

In [ ]:
#Se pueden hacer tablar relacionadas.

In [ ]:
#Ejemplo Básico con Series. 
edades=pd.Series([23,34,29],index=[1,2,3],name="edad")
nombres=pd.Series(["Ana","Luis","María"],index=[1,2,3],name="nombre")

print(edades)
print(nombres)

In [ ]:
#Hay una función que se llama pd.concat() puedes unir Series en un solo dataframe

In [ ]:
df=pd.concat([nombres,edades],axis=1)
print(df)

In [ ]:
type(df)

In [ ]:
dir(df)