In [ ]:
import pandas as pd, numpy as np

In [ ]:
df=pd.read_csv('empleados_3.csv',parse_dates=['fh_ant'])
df

In [ ]:
df2=df
df2.head()

In [ ]:
id(df)

In [ ]:
id(df2)

In [ ]:
df['pct bono']=df['pct bono']+1

In [ ]:
df

In [ ]:
df2

In [ ]:
df3=df.copy()

In [ ]:
id(df3)

In [ ]:
id(df)

In [ ]:
x=1
id(x)

In [ ]:
y=x
id(y)

In [ ]:
x=x+1
x

In [ ]:
id(x)

In [ ]:
y #no valió igual, aquí no apuntaron al mismo

### Borrar columnas de DF

In [ ]:
df.pop('nombre') 
df

In [ ]:
df2

In [ ]:
df3

In [ ]:
del df['genero']

In [ ]:
df

In [ ]:
df2

In [ ]:
df3

# Método drop para filas y columnas

In [ ]:
df=pd.read_csv('empleados_3.csv',parse_dates=['fh_ant'])
df2=df
df2.head()

In [ ]:
df2.drop(1) #quita el renglón con índice igual a 1

In [ ]:
is_Alejandro = df2['nombre'] == 'Alejandro'

In [ ]:
df3=df2.drop([i for i in is_Alejandro.index if is_Alejandro[i]])
df3

In [ ]:
df2.info()

In [ ]:
#quiero quitar columnas 'genero'
df2.drop('genero',axis=1)

In [ ]:
df2.drop('genero',axis='columns')

In [ ]:
df2.drop(['genero','salario'],axis='columns')

# Métod query()

El método `query()` en pandas es una herramienta flexible para filtrar filas de DataFrame utilizando una sintaxis concisa y legible. Permite seleccionar un subconjunto de filas de un DataFrame basado en una expresión de consulta.

### ¿Para qué se utiliza `query()`?
- **Selección de Filas Basada en Condición**: El método `query()` se utiliza para filtrar filas de DataFrame basadas en una condición especificada como una cadena de texto.
- **Sintaxis Legible y Concisa**: Proporciona una sintaxis más legible y concisa en comparación con el índice booleano tradicional.

### Sintaxis
La sintaxis básica del método `query()` es:
```python
DataFrame.query(expr, inplace=False, **kwargs)

In [ ]:
#En el método query se recomienda NO TENER ESPACIOS en los nombres de las columnas

In [ ]:
df=pd.read_csv('empleados_3.csv',parse_dates=['fh_ant'])
df.head()

In [ ]:
df.columns

In [ ]:
df.columns=[column_name.replace(" ","_") for column_name in df.columns]

In [ ]:
df.columns

In [ ]:
"pct bono".replace(" ","_")

In [ ]:
#Seleccionar registros cuyo nombre sea Ana
df.query("nombre == 'Ana'")

In [ ]:
df.query("nombre == 'Ana' & salario>200000") #nombre ana y salario mayor a 200k

In [ ]:
df.query("nombre == 'Ana' | area=='compras'")  nombre ana y area compras

In [ ]:
df.salario.describe()

In [ ]:
df.query("nombre == 'Alejandro'").head(3)

In [ ]:
df.salario.mean()

In [ ]:
df3.salario.mean()

In [ ]:
df.query("nombre == 'Alejandro' & salario > @df.salario.mean()").head(3)

In [ ]:
a=[1,2,3]

In [ ]:
sum(a)

In [ ]:
df.query("nombre == 'Alejandro' & salario > @df3.salario.mean()").head(3)

In [ ]:
sp=df.salario.mean()
sp

In [ ]:
#fstring: string interpolation
df.query(f"nombre == 'Alejandro' & salario>{sp}").head(3)

In [ ]:
df.query(f"nombre == 'Alejandro' & salario>{sum(a)}").head(3)

In [ ]:
nombre="Luis"
print(f"Hola, me llamo {nombre}")

In [ ]:
umbral=990_000
df.query(f"nombre == 'Alejandro' & salario > {umbral}")

# Groupby Objects
1. Se crean grupo basados en valores comunes de ciertas columnas
2. Ideal para agrupar columnas que tienen valores repetidos

In [ ]:
df.info()

In [ ]:
df.head()

In [ ]:
areas=df.groupby('area') #este es un groupby object
#El argumento es un string o una lista de strings
areas

In [ ]:
type(areas)

In [ ]:
len(areas)

In [ ]:
areas.size()

In [ ]:
areas.size().sum()

In [ ]:
df['area'].value_counts().size

In [ ]:
df['area'].unique()

In [ ]:
areas=df.groupby('area') #este es un groupby object
#El argumento es un string o una lista de strings
areas

# Métodos para el Grouby

In [ ]:
areas.first() #primer renglón de cada registro

In [ ]:
areas.last() #ultimo renglón de cada registro

In [ ]:
areas.groups #un atributo del objetio groupby
#devuelve un diccionario, donde la llave key representa cada unico valor de área y los valores
#la lista con los indices donde está en el datafrma eoriginal

In [ ]:
df.iloc[[11, 37, 38, 81, 107, 121, 139, 152, 175, 186, 265, 292, 307, 378, 394, 409, 511, 543, 583]]

In [ ]:
areas.mean(numeric_only=True)

In [ ]:
areas.sum(numeric_only=True)

In [ ]:
df.groupby(['area','genero']).sum(numeric_only=True)

In [ ]:
areas[['salario','pct_bono']].max()

In [ ]:
areas[['salario','pct_bono']].mean()

# Método get_group() 
Opera sobre un Grouby object

In [ ]:
areas.get_group('data') #'data' es una de las 25 areas del df

In [ ]:
areas.get_group('data')['salario'].sum()

In [ ]:
areas.get_group('data')['salario'].mean()

In [ ]:
areas[['salario']].sum()

In [ ]:
areas[['salario']].sum().loc['data']

In [ ]:
areas[['salario']].sum().reset_index()

In [ ]:
areas[['salario']].sum().reset_index().query("area=='data'")

# Método .agg()

In [ ]:
#opera sobre un groupby object
df.head()

In [ ]:
#quiero la suma de los salrios y el promedio del bono
areas.agg({'salario':'sum','pct_bono':'mean'})

In [ ]:
areas.agg({'salario':['sum','mean'],'pct_bono':['mean','max']})

In [ ]:
#sí pueden utilizar funciones personalizadas

areas.agg({'salario':['sum','mean',lambda x:x.max()-x.min()],'pct_bono':['mean','max']})

In [ ]:
areas.agg({'salario':['sum','mean',lambda x:x.max()-x.min()],'pct_bono':['mean','max']}).columns

In [ ]:
areas.agg({'salario':['sum','mean',lambda x:x.max()-x.min()],'pct_bono':['mean','max']}).sort_values(( 'salario', '<lambda_0>'))

In [ ]:
areas.agg({'salario':['sum','mean',lambda x:x.max()-x.min()],'pct_bono':['mean','max']}).sort_values(( 'salario', '<lambda_0>')).loc['Finanzas',('salario','sum')]

In [ ]:
areas

In [ ]:
#Puede is quieren iterar sobre un Groupby object
for a, dataf in areas:
    print(type(a))
    print(a)
    print(type(dataf))
    print(dataf)
    print(a,dataf)

In [ ]:
#Cómo obtener el salario más alto por cada grupo
df_aux=pd.DataFrame(columns=df.columns)
df_aux

In [ ]:
for a, dataf in areas:
    salario_mas_alto=dataf.nlargest(1,'salario')
    df_aux=pd.concat([df_aux,salario_mas_alto])

df_aux