In [ ]:
import pandas as pd, numpy as np
import yfinance as yf
import os

In [ ]:
#sepan hay muchas opciones de visualizacón
pd.options.display.float_format='{:.1f}'.format
#cambia el formato de visualización de números flotantes (decimales) en pandas. 
#En este caso, le estamos diciendo, a pandas que muestre todos los números flotates
#con una sola cifra decimal

# DataFrames

In [ ]:
nba=pd.read_csv('ct_nba.csv')
type(nba)

In [ ]:
nba.head()

In [ ]:
nba

In [ ]:
nba.columns

In [ ]:
len(nba)

In [ ]:
nba.shape #424 filas y 9 columnas

In [ ]:
nba.index

In [ ]:
nba.values

In [ ]:
nba.dtypes #qué tipo de información tiene el dataframe --->atributo dtype

In [ ]:
nba.info()

In [ ]:
nba.axes #los índices de renglones y columna

In [ ]:
#extraer una columna de un df
nba.Name

In [ ]:
#equivalente a lo anterior
nba['Name']

In [ ]:
nba.head(3)

In [ ]:
nba['Salary'].sum()

In [ ]:
nba['Salary'].mean() #promedi

In [ ]:
nba['Salary'].describe()

In [ ]:
nba.loc[nba['Salary'].idxmax()]

In [ ]:
nba.groupby('Team')['Age'].mean()

In [ ]:
nba.groupby('Team')['Age'].max()

In [ ]:
nba.Age.mean()

In [ ]:
nba.groupby('Team')['Age'].mean().mean()

In [ ]:
#extraer 2 o más columnas --> pasamos a una lista

nba[['Weight','Age']]

In [ ]:
nba['Weight','Age'] #error porque piensa que es una Tupla

In [ ]:
nba[['Weight','Team','Age']]

In [ ]:
cols=['Weight','Team','Age']
nba[cols]

In [ ]:
#Definir una nueva columna llamada Deporte ('Sport') con el valor de 'basketball' en cada
#renglón
nba['Sport']='basketball'
nba.head()

### método `insert()`

In [ ]:
nba.insert(3,'País','USA')
nba.head()

In [ ]:
#Breadcasting
nba['Age'].add(3) #suma 3 a cada elemento

In [ ]:
nba['Age']+3

In [ ]:
nba['Salary'].sub(1_000_000) #resta un millon

In [ ]:
nba['Salary']-1_000_000 #resta un millon

In [ ]:
#Definir una nueva columna con el peso expresado en kgs (pasamos de libras a kg)
nba['Weight_kgs']=nba['Weight'].mul(0.454)
nba.head()

In [ ]:
nba['Weight_kgs'].describe()

In [ ]:
nba[['Weight','Age']]*2

In [ ]:
nba[['Weight','Age']].apply(lambda x:x*2)

# Máscaras Booleanas

In [ ]:
nba.head(4)

In [ ]:
len(nba)

In [ ]:
nba['Position']=='PG'

In [ ]:
#Extraer o filtrar a los jugadores cuya posicion es 'PG' (Boolean Mask)
is_PG=nba['Position']=='PG' #point guard

In [ ]:
nba[is_PG] #sólo muestra aquellos registros donde is_PG es Trueb

In [ ]:
nba[nba['Position']=='PG']

In [ ]:
nba[nba['Position']=='PG'].groupby('Team').size()

In [ ]:
nba[is_PG]['Position'].unique()

In [ ]:
nba[is_PG]['Position'].nunique()

In [ ]:
is_PG.sum()

In [ ]:
#Queremos filtrar a todos los PG, y con edad mayor a 25 ños
cond1=nba['Position']=='PG'
cond2=nba['Age']>25
nba[cond1&cond2]

In [ ]:
len(nba[cond1&cond2])

In [ ]:
cond1

In [ ]:
cond2

In [ ]:
cond1&cond2

In [ ]:
cond1|cond2

# Manejo de Valores Nulos

Identificando valores nulos --> `isna()` method

* Sintaxis: df.isna()

`dropna()`: para elimnar renglones que tienen algun nulo