In [ ]:
import pandas as pd, numpy as np

In [ ]:
#Importar dataset nba
nba=pd.read_csv('ct_nba.csv')
nba.head()

In [ ]:
#Eliminar cualquier columna que tenga todos los valores nulos
nba['nulos']=np.nan
nba['nulos_2']=np.nan
nba.head(10)

In [ ]:
#Eliminar columnas que tengan los valore snulos:
nba.dropna(how='all',axis=1)
#axis=1 hace que opere sobre las columnas

In [ ]:
nba.head()

In [ ]:
nba.dropna(how='all',axis=1,inplace=True)
nba.head(3)

In [ ]:
#si quiero afectar columnas específicas --> usar parámetro subset:
nba.dropna(subset=['Position','College']) #elimino filas que tengan al menos un NULO en esas variables.

#### Manejo de valores nulos: sustitución --> metodo `fillna()`

In [ ]:
nba.fillna(0)

In [ ]:
nba['Position'].fillna(0)

In [ ]:
#podemos usar un string para llenar un nulo
nba['College'].fillna('desconocido')

In [ ]:
nba.info()

In [ ]:
#Pueden también llenar usando una función
nba['Age'].fillna(nba['Age'].median())

# Método astype()

In [ ]:
nba=pd.read_csv('ct_nba.csv').dropna(how='all')
nba.head()
nba.info()

In [ ]:
nba['Position']=nba['Position'].fillna(0)

In [ ]:
nba['College'].fillna('desconocido',inplace=True)

In [ ]:
pd.__version__

In [ ]:
nba.dtypes

In [ ]:
#convertia entero
nba['Age']=nba['Age'].astype('int')
nba.head()

In [ ]:
nba['Position'].nunique()

In [ ]:
nba['Position'].unique()

In [ ]:
nba['Position']=nba['Position'].astype('category')
#Es ideal (category) para cols que tienen un úmero pequeño de valores distintos

In [ ]:
nba.info()

### Método `sort_values()`

### Sintaxis: `df.sort_values('campo(s)')`

In [ ]:
#Al incluir el nombre de una columna como primer parametro, el df se ordena
#por esa columna
nba.sort_values('Name')

In [ ]:
nba.sort_values('Age',ascending=False)

In [ ]:
nba

In [ ]:
nba.sort_values('Age',ascending=False,inplace=True) #si queremos que el ordenamiento sea permanente
nba.tail()

In [ ]:
nba.head()

In [ ]:
nba.sort_index(inplace=True)

In [ ]:
nba

In [ ]:
nba['Salary']=nba['Salary'].astype('int64')

In [ ]:
nba.head()

In [ ]:
nba.sort_values('Salary',ascending=False,na_position='first')

In [ ]:
nba.info()

In [ ]:
nba.sort_values('College',ascending=True,na_position='last').tail()

### Ordenar por más de una variable

In [ ]:
nba.sort_values(['Team','Name'])

In [ ]:
nba.sort_values(['Team','Name'],ascending=[True,False]) #ascendente por equio y descendente por nombre

In [ ]:
nba.sort_values(['Salary','Name'],ascending=[False,True],na_position='first',inplace=True) #descendente por salario y ascendente por nombre
nba

In [ ]:
nba.drop_duplicates(subset='Name',keep='first')

In [ ]:
#importar dataset nba

In [ ]:
nba=pd.read_csv('ct_nba.csv')
nba.head()

In [ ]:
nba.sort_values('Position',na_positidon='first') #ordena los nan al principio

## `metodo sort_index()`

In [ ]:
#util para regresar la tabla a su forma original en cuanto a su ordenamiento
nba.sort_index()

In [ ]:
nba.sort_index(ascending=False)

In [ ]:
#queremos ordenar descendente por columnas ---> axis=1
nba.sort_index(ascending=False, axis=1)

In [ ]:
#queremos ordenar ascendente por columnas
nba.sort_index(axis=1)

In [ ]:
emp=pd.read_csv('empleados_2.csv')
emp.head()

In [ ]:
emp.tail()

In [ ]:
emp.info()

#### Construyendo un DF desde un diccionario

In [ ]:
dict = {
    'nombre':['Areli','Beto'],
    'es_directivo':['True','False'],
    'genero':['F','M'],
    'fh_ant':['2015-02-21','2017-03-15'],
    'pct bono':[6.1,10],
    'area':['reclutamiento','staff'],
    'salario':[180000,78000],
}

In [ ]:
dict

In [ ]:
aux=pd.DataFrame(dict)
aux.head()

In [ ]:
emp=pd.concat([emp,aux],ignore_index=True)
emp.tail()

In [ ]:
emp

In [ ]:
emp.dtypes

In [ ]:
dir(emp)

In [ ]:
#convertir fh_ant, es_directivo a tipo fecha y booleano, respectivamente
emp['fh_ant']=pd.to_datetime(emp['fh_ant'])
emp['es_directivo']=emp['es_directivo'].astype('bool')
emp.dtypes

### Filtrar un DF según ciertos criterios.

In [ ]:
emp.head()

In [ ]:
emp.dtypes

In [ ]:
#queremos por ejemplo, filtrar por genero
#primero, contando nulos en esa columna

In [ ]:
emp['genero'].isnull().sum()

In [ ]:
#otra opción
emp['genero'].value_counts(dropna=False)

In [ ]:
emp['genero']

In [ ]:
emp['genero']=='M'

In [ ]:
is_masc=emp['genero']=='M'
is_masc

In [ ]:
emp[emp['genero']=='M']

#### ¿Cómo podemos corregir la info de genero en este caso?
* Usaremos apply, pero ligeramente diferente y una función que definiremos

In [ ]:
nombres_h = ['Eduardo','Luis','Alejandro','Jose','Daniel','Jerónimo','Francisco','Octavio','Edgardo','Sean',
             'Mariano','Javier','Josue','Ignacio','Esteban', 'Will','Pablo', 'Bernardo', 'Eugenio','Miguel', 
             'Alessandro','William', 'René', 'Emilio', 'Darío', 'Juan', 'Victor', 'Camilo','Beto']

In [ ]:
type(nombres_h)

In [ ]:
emp.head(10)

In [ ]:
#quiero
#si el genero es nulo, dejarlo nulo
#si el nombre es masculino, quiero genero ='M'
#si el nombre es fememnio, quiero genero = 'F'

def func_genero(row): 
    if pd.isnull(row['genero']):
        return row['genero']
    elif row['nombre'] in nombres_h:
        return 'M'
    else:
        return 'F'

In [ ]:
emp['genero']=emp.apply(func_genero,axis=1)
emp.head()

In [ ]:
import os
os.getcwd()

In [ ]:
#exportar nuestro archivo: function to_csv()
emp.to_csv("/Users/carloscarrasco/Library/Mobile Documents/com~apple~CloudDocs/Desktop/Pronósticos/Alexis/M1/Mio/hola.csv")

In [ ]:
emp.to_csv('nuevo_empleados.csv')

In [ ]:
emp.to_excel('nuevo_empleados.xlsx')

# Ejercicios

* Usaremos el dataset `empleadosu.csv`