In [ ]:
import pandas as pd
import numpy as np

In [ ]:
#sepan hay muchas opciones de visualizacón
pd.options.display.float_format='{:.1f}'.format
#cambia el formato de visualización de números flotantes (decimales) en pandas. 
#En este caso, le estamos diciendo, a pandas que muestre todos los números flotates
#con una sola cifra decimal

In [ ]:
emp=pd.read_csv('empleados_2.csv')

In [ ]:
emp.tail(3)

In [ ]:
emp.shape

In [ ]:
dict = {
    'nombre':['Areli','Beto'],
    'es_directivo':['True','False'],
    'genero':['F','M'],
    'fh_ant':['2015-02-21','2017-03-15'],
    'pct bono':[6.1,10],
    'area':['reclutamiento','staff'],
    'salario':[180000,78000],
}

In [ ]:
aux=pd.DataFrame(dict)
emp=pd.concat([emp,aux],ignore_index=True)
emp['fh_ant']=pd.to_datetime(emp['fh_ant'])

In [ ]:
emp.shape

In [ ]:
#Ejercicios
#Quiero extraer a todos menos a los de ventas
emp[emp['area']!='ventas']

In [ ]:
#2 Filtrar por más de una condición
#no son de ventas y el salario es mayor al promedio
salario_promedio=emp['salario'].mean()
salario_promedio

In [ ]:
filtro=(emp['area']!='ventas')&(emp['salario']>=salario_promedio)
filtro

In [ ]:
emp_filtrado=emp[filtro]
emp_filtrado.head()

In [ ]:
#Una manera más sencilla de extraer valores y que haga match con varios valores es el método
## .isin() ----> análogo al IN en SQL. 
#Sintaxis: columna.isin(lista)

In [ ]:
#Quiero ver quienes perteneces a Sistemas o Riesgos
emp[emp['area'].isin(['sistemas','riesgos'])].head(3)

In [ ]:
emp['area'].isin(['sistemas','riesgos'])

In [ ]:
#Método Between()
#Filtrar valores dentro de un rango (inclusive)
#Por ejemplo: empleados con bono entre 10% y 15%. 
emp[emp['pct bono'].between(10,15)]

In [ ]:
#Método .duplicated()
#Objetivo: Detectar duplicados. El parámetro keep que controla cual marcar. 
#keep=first (default) marca duplicados excepto la primer ocurrencia
#keep=false (marca todas las filas duplicadas)

#Ver filas duplicadas completas
emp[emp.duplicated(keep=False)] #considera todos las columnas

In [ ]:
len(emp[emp.duplicated(keep=False)])

In [ ]:
emp[emp.duplicated(keep='first')] #te mantiene la primer observación y te selecciona las siguientes duplicadas

In [ ]:
#Método .drop_duplicates()
#el objetivo es eliminar duplicados
#Eliminar duplicados considerando todos los campos
emp_sin_duplicados=emp.drop_duplicates()
emp_sin_duplicados

In [ ]:
emp_sin_duplicados=emp.drop_duplicates(subset='nombre',keep='first')
emp_sin_duplicados

In [ ]:
emp_sin_duplicados=emp.drop_duplicates(subset='nombre',keep=False)
emp_sin_duplicados

In [ ]:
dict = {
    'nombre':['Areli199','Beto199'],
    'es_directivo':['True','False'],
    'genero':['F','M'],
    'fh_ant':['2015-02-21','2017-03-15'],
    'pct bono':[6.1,10],
    'area':['reclutamiento','staff'],
    'salario':[180000,78000],
}
aux=pd.DataFrame(dict)
emp=pd.concat([emp,aux],ignore_index=True)

In [ ]:
emp_sin_duplicados=emp.drop_duplicates(subset='nombre',keep=False)
emp_sin_duplicados

# Ciclos

Se utilizan cuando tenemos un código que queremos repetir un número finito de veces.

# `For` loops

Usaremos un `for` cuando conocemos a prior el número de veces que deseamos correr un bloque de código. 

La sintaxis para un `for loop` en python es la siguiente: 

```python
    for elemento in secuencia: 
        #hacer algo con elemento
```

* `secuencia`: es un iterable: todo aquelo que contenga un índice (lista, string, diccionario, etc)
* `elemento`: es una variable que toma como valor cada elemento dentro de `secuencia`
* Todo bloque de código con sangría (identado) después del `for` se repite por cada `elemento` dentro de `secuancia`.

Cuándo usar: Ideal para iterar cuando se conoce el número de iteraciones o para iterar directamente sobre los elementos de una secuencia.
Ejemplos.
* Iterar sobre una lista.

In [ ]:
frutas=['manzana','plátano','cereza']

for fruta in frutas:
    print(fruta)

In [ ]:
# Calcular el área de varios círculos con un 'for'

In [ ]:
# Suongamos que tenemos estos radios
radios=[1,2,3,4,6,8,9]

In [ ]:
import math

In [ ]:
math.pi

In [ ]:
for r in radios:
    area=math.pi * r ** 2 
    print(f"Radio:{r}, Área:{area:.2f}")

In [ ]:
#For para sumar números del 1 al 10
suma=0
for i in range(1,11):
    print(i)
    suma += i # suma += i ---> suma=suma+i

In [ ]:
print("La suma del 1 al 10 es : ",suma)

In [ ]:
#For para sumar números del 1 al 10
suma=0
for i in range(0,10):
    print(i)
    suma += i # suma += i ---> suma=suma+i

In [ ]:
suma=0
for i in range(10):
    print(i)
    suma += i # suma += i ---> suma=suma+i

In [ ]:
#For para sumar números del 1 al 10
suma=0
for i in range(5,9):
    print(i)
    suma += i # suma += i ---> suma=suma+i

In [ ]:
#For para sumar números del 1 al 10
suma=0
for i in range(5,9,2):
    print(i)
    suma += i # suma += i ---> suma=suma+i

In [ ]:
suma

In [ ]:
#For con condicional: imprimir solo pares
for i in range(1,11):
    if i % 2 == 0: #si dividen entre dos el residuo es cero (módulo 2)
        print(f"{i} es par")

# `While` loops

* ¿Qué es?: Un bucle while en Python ejecuta repetidamente la instrucción objetivo mientras la condición sea verdadera.
* Sintaxis:
```python
while condicion:
    #hace algo
```

* ¿Cuándo usar? Mejor cuando no se conoce el número de iteraciones de antemano y se desea continuar con el bucle mientras se cumple una condición.
* Ejemplo: Una cuenta regresiva simple

In [ ]:
contador=5
while contador>0:
    print("Cuenta: ",contador)
    contador -= 1  #### contador = contador - 1

print("Despegue!")

In [ ]:
#While hasta que el usuario adivine el número
numero_secreto=7
intento=int(input("Adivina el número: "))

while intento != numero_secreto:
    print("Incorrecto, intenta otra vez.")
    intento=int(input("Adivina el número: "))

print("Correcto!")

In [ ]:
#While para sumar hasta que supere cierto valor

suma=0
i=1
while suma<50:
    suma += i 
    print(f"Sumando {i}, total:{suma}")
    i += 1

# `Do While` loops (no hay en python)

Python no tiene un ciclo `do while` como otros lenguajes, pero podemos emularlo usando un `while True` y un `break`

* Se puede emular su funcionalidad con un bucle de tipo `while``
* La idea es ejecutar el cuerpo del ciclo una vez y luego continuar con base en una condición.

1. Ejecutar el bloque una vez
2. Luego verifica la condición para continuar
3. Si no se cumple la condición, romple el ciclo con el `break`

```python
while True: 
    #hcer algo
    if not condicion: 
        break
```

Ejemplo: `do while` para solicitar al usuario ingresar algo hasta condición de finalizar. 
Puntualmente, pedirle al usuario un número hasta que escriba "salir"

In [ ]:
while True:
    entrada=input("Escribe algo (escribe 'salir para terminar): ")
    if entrada == 'salir':
        break

# Recordando range()
**Rangos** La forma de crear un rango de números dentro de python es mediante la funcion `range`, la cual puede ser usada de 3 maneras: 
* `range(a)` crea un rango de valores de `0` hasta `a-1`
* `range(a,b)` crea un rango de valores de `a`hata `b-1`
* `range(a,b,s)` crea un rango de valores de `a` hasta `b-1` dando saltos de `s`

In [ ]:
range(-10,11)

In [ ]:
a=range(-10,11)
a

In [ ]:
list(a)

In [ ]:
#Ejemplo gráfica simple usando un range
import matplotlib.pyplot as plt

x=list(range(-10,11))
y=[i**2 for i in x]

#Graficar
plt.plot(x,y,marker='o')
plt.title('Grafica de y=x^2')
plt.xlabel('x')
plt.ylabel('y')
plt.grid(True)
plt.show()