In [ ]:
import pandas as pd, numpy as np

In [ ]:
#Importar dataset nba
nba=pd.read_csv('ct_nba.csv')
nba.head()

In [ ]:
#Eliminar cualquier columna que tenga todos los valores nulos
nba['nulos']=np.nan
nba['nulos_2']=np.nan
nba.head(10)

In [ ]:
#Eliminar columnas que tengan los valore snulos:
nba.dropna(how='all',axis=1)
#axis=1 hace que opere sobre las columnas

In [ ]:
nba.head()

In [ ]:
nba.dropna(how='all',axis=1,inplace=True)
nba.head(3)

In [ ]:
#si quiero afectar columnas específicas --> usar parámetro subset:
nba.dropna(subset=['Position','College']) #elimino filas que tengan al menos un NULO en esas variables.

#### Manejo de valores nulos: sustitución --> metodo `fillna()`

In [ ]:
nba.fillna(0)

In [ ]:
nba['Position'].fillna(0)

In [ ]:
#podemos usar un string para llenar un nulo
nba['College'].fillna('desconocido')

In [ ]:
nba.info()

In [ ]:
#Pueden también llenar usando una función
nba['Age'].fillna(nba['Age'].median())

# Método astype()

In [ ]:
nba=pd.read_csv('ct_nba.csv').dropna(how='all')
nba.head()
nba.info()

In [ ]:
nba['Position']=nba['Position'].fillna(0)

In [ ]:
nba['College'].fillna('desconocido',inplace=True)

In [ ]:
pd.__version__

In [ ]:
nba.dtypes

In [ ]:
#convertia entero
nba['Age']=nba['Age'].astype('int')
nba.head()

In [ ]:
nba['Position'].nunique()

In [ ]:
nba['Position'].unique()

In [ ]:
nba['Position']=nba['Position'].astype('category')
#Es ideal (category) para cols que tienen un úmero pequeño de valores distintos

In [ ]:
nba.info()

### Método `sort_values()`

### Sintaxis: `df.sort_values('campo(s)')`

In [ ]:
#Al incluir el nombre de una columna como primer parametro, el df se ordena
#por esa columna
nba.sort_values('Name')

In [ ]:
nba.sort_values('Age',ascending=False)

In [ ]:
nba

In [ ]:
nba.sort_values('Age',ascending=False,inplace=True) #si queremos que el ordenamiento sea permanente
nba.tail()

In [ ]:
nba.head()

In [ ]:
nba.sort_index(inplace=True)

In [ ]:
nba

In [ ]:
nba['Salary']=nba['Salary'].astype('int64')

In [ ]:
nba.head()

In [ ]:
nba.sort_values('Salary',ascending=False,na_position='first')

In [ ]:
nba.info()

In [ ]:
nba.sort_values('College',ascending=True,na_position='last').tail()

### Ordenar por más de una variable

In [ ]:
nba.sort_values(['Team','Name'])

In [ ]:
nba.sort_values(['Team','Name'],ascending=[True,False]) #ascendente por equio y descendente por nombre

In [ ]:
nba.sort_values(['Salary','Name'],ascending=[False,True],na_position='first',inplace=True) #descendente por salario y ascendente por nombre
nba

In [ ]:
nba.drop_duplicates(subset='Name',keep='first')

In [ ]:
#importar dataset nba

In [ ]:
nba=pd.read_csv('ct_nba.csv')
nba.head()

In [ ]:
nba.sort_values('Position',na_positidon='first') #ordena los nan al principio

## `metodo sort_index()`

In [ ]:
#util para regresar la tabla a su forma original en cuanto a su ordenamiento
nba.sort_index()

In [ ]:
nba.sort_index(ascending=False)

In [ ]:
#queremos ordenar descendente por columnas ---> axis=1
nba.sort_index(ascending=False, axis=1)

In [ ]:
#queremos ordenar ascendente por columnas
nba.sort_index(axis=1)

In [ ]:
emp=pd.read_csv('empleados_2.csv')
emp.head()

In [ ]:
emp.tail()

In [ ]:
emp.info()

#### Construyendo un DF desde un diccionario

In [ ]:
dict = {
    'nombre':['Areli','Beto'],
    'es_directivo':['True','False'],
    'genero':['F','M'],
    'fh_ant':['2015-02-21','2017-03-15'],
    'pct bono':[6.1,10],
    'area':['reclutamiento','staff'],
    'salario':[180000,78000],
}

In [ ]:
dict

In [ ]:
aux=pd.DataFrame(dict)
aux.head()

In [ ]:
emp=pd.concat([emp,aux],ignore_index=True)
emp.tail()

In [ ]:
emp

In [ ]:
emp.dtypes

In [ ]:
dir(emp)

In [ ]:
#convertir fh_ant, es_directivo a tipo fecha y booleano, respectivamente
emp['fh_ant']=pd.to_datetime(emp['fh_ant'])
emp['es_directivo']=emp['es_directivo'].astype('bool')
emp.dtypes

### Filtrar un DF según ciertos criterios.

In [ ]:
emp.head()

In [ ]:
emp.dtypes

In [ ]:
#queremos por ejemplo, filtrar por genero
#primero, contando nulos en esa columna

In [ ]:
emp['genero'].isnull().sum()

In [ ]:
#otra opción
emp['genero'].value_counts(dropna=False)

In [ ]:
emp['genero']

In [ ]:
emp['genero']=='M'

In [ ]:
is_masc=emp['genero']=='M'
is_masc

In [ ]:
emp[emp['genero']=='M']

#### ¿Cómo podemos corregir la info de genero en este caso?
* Usaremos apply, pero ligeramente diferente y una función que definiremos

In [ ]:
nombres_h = ['Eduardo','Luis','Alejandro','Jose','Daniel','Jerónimo','Francisco','Octavio','Edgardo','Sean',
             'Mariano','Javier','Josue','Ignacio','Esteban', 'Will','Pablo', 'Bernardo', 'Eugenio','Miguel', 
             'Alessandro','William', 'René', 'Emilio', 'Darío', 'Juan', 'Victor', 'Camilo','Beto']

In [ ]:
type(nombres_h)

In [ ]:
emp.head(10)

In [ ]:
#quiero
#si el genero es nulo, dejarlo nulo
#si el nombre es masculino, quiero genero ='M'
#si el nombre es fememnio, quiero genero = 'F'

def func_genero(row): 
    if pd.isnull(row['genero']):
        return row['genero']
    elif row['nombre'] in nombres_h:
        return 'M'
    else:
        return 'F'

In [ ]:
emp['genero']=emp.apply(func_genero,axis=1)
emp.head()

In [ ]:
emp.tail()

In [ ]:
import os
os.getcwd()

In [ ]:
#exportar nuestro archivo: function to_csv()
emp.to_csv("/Users/carloscarrasco/Library/Mobile Documents/com~apple~CloudDocs/Desktop/Pronósticos/Alexis/M1/Mio/hola.csv")

In [ ]:
emp.to_csv('nuevo_empleados.csv')

In [ ]:
emp.to_excel('nuevo_empleados.xlsx')

In [ ]:
emp[emp['genero']=='M'] #podíamos filtrar por género

In [ ]:
#filtrar a las personas del área de riesgos

In [ ]:
emp[emp['area']=='riesgos']

In [ ]:
emp.dtypes

In [ ]:
#queremos filtar a los empleados que son directivos

In [ ]:
emp[emp['es_directivo']==True]

In [ ]:
emp[emp['es_directivo']] #porque 'es_directivo' es booleano

In [ ]:
emp['salario']>2378736

In [ ]:
emp['genero']=='F'

In [ ]:
((emp['salario']>2378736) & (emp['genero']=='F'))

In [ ]:
cond1=emp['salario']>2378736
cond2=emp['genero']=='F'
emp[cond1&cond2]

In [ ]:
emp[cond1&cond2]['salario'].min()

In [ ]:
emp.head(1)

# Ejercicios

* Usaremos el dataset `empleadosu.csv`

In [ ]:
emp=pd.read_csv('empleadosu.csv')
emp.head()

In [ ]:
emp.info()

In [ ]:
#El campo fh_contrat viene como object, nos gustaría importarlo desde el inicio como fecha
emp=pd.read_csv('empleadosu.csv',parse_dates=['fh_contrat'])
#parse_date=lista de variables que quiero que las tome como fechas.

In [ ]:
emp.info()

In [ ]:
emp.head(5)

In [ ]:
#1.-Cuántos renglones y columnas tiene la tabla
emp.shape

In [ ]:
#2. Obtener información general del tipo de variables que tiene la tabla, así como el número de valores nulos en
#cada columna
emp.info()

In [ ]:
#3.-¿Cuántos valores únicos tiene la variable 'genero'?
emp['genero'].nunique()

In [ ]:
emp['genero'].unique()

In [ ]:
#4.-Convierte género a tipo category
emp['genero']=emp['genero'].astype('category')

In [ ]:
emp.info()

In [ ]:
#5.-Calcula el número de empleados por cada departamento
emp['depto'].value_counts()

In [ ]:
emp.groupby('depto').size()

In [ ]:
#6.-Calcula el min, max, cuartiles, promedio, desv std, la variable salario
emp['salario'].describe()

In [ ]:
emp['salario'].std()

In [ ]:
#7 a) ¿Cuál es la mediana de la variable salario?
#7 b) ¿cómo extraerías este resultado?
emp['salario'].median()

In [ ]:
mediana_salario=emp['salario'].median()
mediana_salario

In [ ]:
#utilizando los valores de arriba, construye una función que determine si el salario es: 
#'bajo' si salio <= percentil 25
#'medio' si el salario está entre 25 y percentil 75 (inclusivo)
#alto si el salario es mayor a 75 percentil

In [ ]:
p25=emp['salario'].quantile(0.25)
p75=emp['salario'].quantile(0.75)

In [ ]:
p25

In [ ]:
p75

In [ ]:
def clasificar_salario(salario):
    if salario<=p25:
        return 'bajo'
    elif salario<=p75:
        return 'media'
    else:
        return 'alto'

In [ ]:
#9 Cómo aplicaríamos la función del punto anterior a la columna 'salario para ver el resultado

In [ ]:
emp['nivel_salario']=emp['salario'].apply(clasificar_salario)

In [ ]:
emp

In [ ]:
#10 ¿Cuántos salarios bajos, medios y altos hay?

In [ ]:
emp['nivel_salario'].value_counts()

In [ ]:
#11 Dar el conteo anterior en términos de frecuencia relativa
emp['nivel_salario'].value_counts(normalize=True)

In [ ]:
#12 ¿Cuántos departamentos hay?
emp['depto'].nunique()

In [ ]:
#otra solución
len(emp['depto'].unique())

In [ ]:
#13 Si quisiera saber cuáles departamentos son distintos
emp['depto'].unique()

In [ ]:
#14 Supongamos que a todos los empleados se les dará un aumento de 10%. Crear una nueva columna llamada
#salario_nuevo, que contenga el nuevo salario

emp['salario_nuevo']=emp['salario']*1.1
emp.head()

In [ ]:
#15: ¿Cuántos valores nulos tiene la columna correo?
emp['correo'].isnull().sum()

In [ ]:
emp['correo'].isnull()

In [ ]:
emp['correo'].isnull().value_counts()