# Ejercicios Ciclos (ejemplos)

In [ ]:
import pandas as pd, numpy as np

In [ ]:
#1.- Dada una lista de enteros, obtener el máximo de estos

lista=[-10,2,7,2,6,11,-31]

def maximo(lista):
    maxn=lista[0]
    for e in lista:
        print(e)
        if maxn<e:
            maxn=e
            print(maxn)
    return maxn

In [ ]:
maximo(lista)

In [ ]:
#2 Dada una lista, imprimir la suma de los valores de la lista. 
def suma_elementos(lista):
    suma=0
    for e in lista:
        suma=suma+e
    return suma

suma_elementos(lista)

In [ ]:
def suma_elementos(lista):
    suma=0
    for e in lista:
        suma+=e
    return suma

suma_elementos(lista)

In [ ]:
#otra solución: usando Serie
pd.Series(lista).sum()

In [ ]:
#3. Pedir al usuario un número entero positivo y calcular la suma de los números entre 1 y 
#y el # que ingresa el usuario. 

suma=0
n=int(input("ingresa un número entero positivo: "))
for i in range(1,n+1):
    suma+=i #suma=suma+i
print('\n')
print('la suma entre 1 y el número',n,'es: ',suma)

In [ ]:
#n(n+1)/2
1000*(1001)/2

Algunas veces queremos agrupas dos listas entrada por entrada. Para solucionar este problema en Python podemos usar la función `zip`. Ejemplo:

In [ ]:
#4.-Llenar un diccionario con un for:
tick=['AAPL','AMZN','FB','GOOG']
companies=['Apple','Amazon','Meta','Alphabet','Microsoft']
comp_ticker={} #diccionario apra guardar valores
for ticker, company in zip(tick,companies):
    comp_ticker[company]=ticker

print(comp_ticker)

In [ ]:
type(comp_ticker)

In [ ]:
for ticker,company in zip(tick,companies):
    print(ticker,company)

# Funciones `lambda` 
Una función `lambda` es una función anónima que nos permite definir y tratar funciones como si fuesen elementos. 

Podemos pensar una función lambda como una función compuesta
$$
    \lambda (f(p_1,p_2, \dots, p_n))
$$

Las funciones `lambda` pueden ser tratadas como cualquier otro elemento. i.e. no es necesario declararlas para poder usarlas.

Las función `lambda` son solo una forma corta y anónima de definir funcion. En la práctica tiene
algunas ventas y desventajas frente `def`. 
* Ventajas:
  1. Sintaxis Compacta
  2. Funciones anónimas (no necestian nombres)
  3. Integración con funciones de orden superior (map, filter, sorted, reduce)
  4. Legible para expresiones cortas

* Desventjas:
    1. Limitadas a una sola expresión. No pueden contener varías lineas, ni `for`, `while`, etc
    2. Menos legible en caos complejos. Cuando la fución es extensa conviene el `def`
    3. No sustityen a `def`. Es un atajo sintético.

¿Cuándo usarlo?
* Usa `lambda` si es muy corta y de un solo uso
* Usar `def` cuando es más compleja

In [ ]:
#Tomemos un ejemplo sencillo
(lambda x,y: x**y)(2,3)
#Los parámetros x,y se declaran después de la palabra reservada 'lambda'. 
#Después de los dos puntos indicamos qué operación realizará la funcón
#Por último le pasamos lo valores de x y de y

In [ ]:
#sería lo mismo que
def potencia(x,y):
    return(x**y)

In [ ]:
potencia(2,3)

In [ ]:
#Las funciones lambda nos permiten también pasar funciones como parámetros SIN haberlos definido previamente
#Composición de funciones fog(x)=f(g(x))

#Definimos la función f con dos argumentos: g (funcion) y x

def f(g,x):
    return 2*g(x)

In [ ]:
f(lambda y:y**(1/2),3)
#En la función f, mandamos fn lambda como g, i.e: x**(1/2) y valor x=3
#Encontes si x=3, g(x)=sqrt(3)
#f(lambda y:y**(1/2),3)
#2*sqrt(3)

In [ ]:
2*np.sqrt(3)

# `filter()`

* Se utiliza para crear un iterador de elementos de un iterable para los cuales una función devuelve un `True`
* Sintaxis: `filter ( f(), secuencia)` --> devuelve los elementos de la secuencia que son `TRUE` bajo las condiciones impuestas por la función `f()`
* ideal para extraer elementos de una lista (o cualquier iterable) que cumplan ciertas condiciones.

In [ ]:
emp=pd.read_csv('empleados_3.csv',parse_dates=['fh_ant'])
emp.head(3)

In [ ]:
emp.shape

In [ ]:
emp.dtypes

In [ ]:
def is_masc(g):
    if g=='M':
        return True
    else:
        return False

In [ ]:
filter(is_masc,emp.genero) #regresa los elementos de la col 'genero' que son True bajo 
#lo que indica la función is_masc

In [ ]:
pd.Series(list(filter(is_masc,emp.genero)))

In [ ]:
#filtrar a empleados con salarios a myores a 1,000,000
salarios_altos=list(filter(lambda x:x>1_000_000,emp.salario))
salarios_altos

In [ ]:
#filtrar a empleados del área de sistemas.
sistemas=list(filter(lambda x:x=="sistemas",emp.area))
sistemas

In [ ]:
emp[emp["area"]=="sistemas"]

In [ ]:
#forzando a usar filter + lambda (opcon menos conocida)
sistemas= list(filter(lambda row: row['area']=='sistemas', emp.to_dict('records')))

In [ ]:
pd.DataFrame(sistemas)

In [ ]:
#En resumen, si quieres usar un DataFrame filtrado y con todas las columnas, lo más limio es 
#usar emp[condicion]
#filter + lambda es más un estilo python puro, pero padnas ya trae su forma vectorizada. 
#filter + lambda: flexiblidad para listas u otros iterables. Funciona no sólo con dataframes, sino con listas
#tuplas, series, set, etc.

In [ ]:
#filtrar sólo empleados con genero "M"
generos=list(filter(lambda x:x=="M",emp.genero))
generos

In [ ]:
#Aplicar Filter() para cruzar listas con nombres
#Ejemplo. obtener empleados cuyo nombre está en una lista de interés
nombres_interes=['Ana','Mónica']
nombres_filtrados=list(filter(lambda x:x in nombres_interes,emp.nombre))
nombres_filtrados

In [ ]:
#Filtrar nombres que empiezan con voal
vocales=["A","E","I","O","U"]
nombres_vocal=list(filter(lambda nombre: nombre[0] in vocales, emp.nombre))
print(nombres_vocal)

In [ ]:
#Filtrar todo el dataframe por nombres que contiene una vocal específica (por ejemplo)
def contiene_vocal(nombre):
    return 'e' in nombre.lower()

filtrados=emp[emp['nombre'].apply(contiene_vocal)]
filtrados

In [ ]:
#Número de vocales por nombre (usando apply y sum)
def contar_vocales(nombre):
    vocales="aeiouAEIOUoáéíóú"
    return sum(1 for letra in nombre if letra in vocales)

emp['vocales_en_nombre']=emp['nombre'].apply(contar_vocales)
emp

# `map()`

La función `map` aplica una función f a un iterable X de n elementos entrada por entrada

```python
map(f,X)=[f(x1),f(x2), ..., f(xn)]
```
donde X= (x1, x2, ..., xn)

Es decir: `map()` aplica una función a **cada** elemento de un iterable y nos regresa un objeto de tipo map, el cual es un **iterador**. Para ver sus valores los sacamos convirtiéndolos a una lista. 
* Se usa normalmente para transofrmar elementos de una coleeción; e.g., aplicar fórmula a cada elemento
* Beneficio de map(). eficiencia en memoria y cómputo.

## Ejemplos de `map()`

In [ ]:
#Ejemplo: queremos elevar al cuadrado cada elemento de un conjunto de valores
#recordar que range (a,b,s)...
cuadrados=list(map(lambda x:x**2, range(1,11)))
cuadrados

In [ ]:
#recordar
rango=range(1,11)
rango.apply(lambda x:x**2) #nos da un error porque range no tiene un método apply

In [ ]:
pd.Series(rango).apply(lambda x:x**2)
#apply es un método de pandas.

In [ ]:
#Si queremos aplicar una función donde los argumentos provienen de diferentes rangos
#i.e. sup x pertenece a range(a1,b1) y "y" pertence a range (a2,b2)
res=list(map(lambda x,y:x+y, range(1,11), range(10,100)))
res

In [ ]:
#Sumar elementos de dos listas
lista_1=[1,2,3]
lista_2=[4,5,6]
list(map(lambda x,y:x+y, lista_1, lista_2))

In [ ]:
#unión de las 2 listas
lista_1+lista_2

In [ ]:
#Sumar elementos de dos listas
lista_1=[1,2,3]
lista_2=[4,5,6]
lista_3=[7,8,9]

list(map(lambda x,y,z:x+y+z, lista_1, lista_2,lista_3))

In [ ]:
list('miercoles')

In [ ]:
lista=['lu','ma','mie','jue','vie']
res=map(list,lista)
list(res)

In [ ]:
#El ejemplo de fahrenheit a celcius usando map():
temp_f=[100,80,78,62,90,32]
list(map(lambda x: round((x-32)*5/9,2),temp_f))

In [ ]:
int("1")

In [ ]:
strings=['1','2','3','4','5']
enteros=list(map(int,strings))
enteros

In [ ]:
#Encuentre la longitud de cda palabra en una lista de palabras
palabras=['manzana','piña','cereza','frambuesa']
list(map(len,palabras))

In [ ]:
#Crea una lista de booleanos dependiendo de si un número es mayor a 2
numeros=[1,2,3,4,5,6,7,8]
list(map(lambda x: x>2, numeros))

# `reduce()`

* Aplica un **rolling computation** o cálculo acumulativo a pares secuenciales de valores en una lista (o iterable) y los reduce a un sólo número.
* Sintáxis

```python

reduce(function, iterable[,initializer])

```

* Aplica la función de forma acumulativa a los elementos del iterable, de izquiera a derecha.

In [ ]:
from functools import reduce

In [ ]:
#Define una función que suma dos cantidades

def sumar(x,y):
    return x+y

lista=[1,2,3,4,5]

#usar reduce para sumar los números

res=reduce(sumar,lista)
res

In [ ]:
#Define una función que encuentre el máximo
def max_func(a,b):
    return a if a>b else b

lista=[47,11,42,102,13]

#Usar reduce para comparar los números
maximo=reduce(max_func,lista)
maximo

#Ejempo del ejercicio anterior

1. Se llama a `max_func(47,11)` regresa 47.
2. Se llama a `max_func(47,42)` regresa 47.
3. Se llama a `max_func(47,102)` regresa 102.
4. Se llama a `max_func(102,13)` regresa 102

In [ ]:
#Ejemplo: concatenar strings

strings=['Hola',' ', 'a', ' ', 'todos', ' ', 'Bienvenidos']

#Función para concatener sólo dos strings

def concat(a,b):
    return a+b

reduce(concat,strings)

In [ ]:
#otro ejemplos
#quiero filtrar los valores mayores a 5 de una secuencia: 
list(filter(lambda x: (x>5), (3,4,5,6,7)))

In [ ]:
#Calcular el factorial de un número n (n=6) n!=1x2x3x..xn
reduce(lambda x,y:x*y, [1,2,3,4,5,6])

In [ ]:
1*2

In [ ]:
(1*2)*3

In [ ]:
((1*2)*3)*4

In [ ]:
(((1*2)*3)*4)*5

In [ ]:
((((1*2)*3)*4)*5)*6

#### Ejemplos con DataFrame

In [ ]:
df=pd.read_csv('empleados_3.csv',index_col='nombre')
df.head(3)

In [ ]:
df=pd.read_csv('empleados_3.csv')
df.head(3)

# `set_index`

In [ ]:
#keys= Es la columna que quieres como índice
df.set_index(keys='nombre',inplace=True)
df.head()

In [ ]:
df.reset_index(inplace=True)
df.head()

In [ ]:
df.set_index(keys='nombre',inplace=True,drop=False)
#drop false deja la columna en el dataframe adicional al indice

In [ ]:
df

In [ ]:
df.drop('nombre',axis=1,inplace=True)
df.head(3)

In [ ]:
df.reset_index(inplace=True)
df.head()

In [ ]:
df.set_index('fh_ant',inplace=True)
df.head()

In [ ]:
df.reset_index(inplace=True)
df.head()

In [ ]:
df['fh_ant']=pd.to_datetime(df['fh_ant'])

In [ ]:
df.info()

In [ ]:
df.set_index('fh_ant',inplace=True)

In [ ]:
df[["salario"]].plot() #puedes graficar muy sencillo y te idenitifca el eje x como fecha si lo dejas en el índice

# Acceder a registros usando `.loc[]` (acceder)